* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: 15% 1fr;
    grid-template-areas: "header header" "video1 videos";
}

.video1 {
    width: 100vw;
    height: 100vh;
    grid-area: video1;
}

.videos {
    width: 20vw;
    height: 20vh;
    grid-area: video1;
}