* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1200px;
}

.um {
    background-color: rgb(247, 232, 22);
    border-color: rgb(0, 6, 10);
    border-style: groove;
    height: 150px;
    /*altura*/
    width: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.umA {
    background-color: chocolate;
    height: 80px;
    /*altura*/
    width: 80px;
    text-align: center;
    position: relative;
    margin: 22%;
}

p {
    padding: 25px 0;
}

.dois {
    background-color: rgb(247, 232, 22);
    border-color: rgb(0, 6, 10);
    border-style: groove;
    height: 150px;
    /*altura*/
    width: 150px;
    position: relative;
    float: right;
}

.doisA {
    background-color: chocolate;
    height: 80px;
    /*altura*/
    width: 80px;
    text-align: center;
    position: relative;
    margin: 25%;
}

.tres {
    background-color: rgb(247, 232, 22);
    border-color: rgb(0, 6, 10);
    border-style: groove;
    height: 150px;
    /*altura*/
    width: 150px;
    position: fixed;
    margin-top: 600px;
    margin-left: 44%;
}

.tresA {
    background-color: chocolate;
    height: 80px;
    /*altura*/
    width: 80px;
    text-align: center;
    position: relative;
    margin: 25%;
}