@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Merriweather:ital,wght@0,400;1,700&display=swap');
h1 {
    font-family: 'Heebo', sans-serif;
    font-family: 'Merriweather', serif;
}

h2 {
    font-family: 'Merriweather', serif;
}