* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 32, 143);
    width: 100%;
    height: 100vh;
    display: grid;
}

.gridContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 15% 1fr 10%;
    grid-template-areas: "header header" "aside main" "footer footer";
    gap: 10px
}

.bandeira {
    float: left;
    margin: 1.5% 1.5% 0% 30%;
    height: 10%;
    width: 6%;
}

.cabeçalho {
    float: left;
    margin-top: 1.5%;
}

.header {
    grid-area: header;
    color: rgb(125, 228, 241);
    text-align: center;
    width: 100%;
    height: 100vh;
}

.aside {
    grid-area: aside;
    background-color: rgba(125, 228, 241, 45%);
    width: 100%;
    height: 100vh;
}

li {
    list-style: none;
    text-align: left;
    margin-top: 10%;
    margin-left: 5%;
}

.main {
    grid-area: main;
    text-align: justify;
    color: bisque;
    width: 95%;
    height: 80vh;
    text-align: center;
}

.ponte {
    width: 100%;
    height: 80vh;
}

p {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
}

footer {
    grid-area: footer;
    text-align: center;
    margin-top: 1%;
}

.facebook {
    height: 90%;
    width: 4.4%;
    border-radius: 30%;
    margin: 0 1% 0 2.5%;
}

.insta {
    height: 90%;
    width: 4.5%;
    border-radius: 30%;
    margin: 0 1%;
}

.tube {
    height: 90%;
    width: 4.5%;
    border-radius: 30%;
    margin: 0 1%;
}