* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(12, 32, 143);
    width: 100%;
    height: 100vh;
    display: grid;
}

.gridContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 20% 1fr 20%;
    grid-template-areas: "header header" "aside main" "rodape rodape";
}

.header {
    grid-area: header;
    color: rgb(125, 228, 241);
    text-align: center;
    width: 100%;
    height: 100vh;
}

.aside {
    grid-area: aside;
    background-color: rgba(125, 228, 241, 45%);
    width: 100%;
    height: 100vh;
}

li {
    list-style: none;
    margin-top: 20px;
    margin-left: 50px;
}

.main {
    grid-area: main;
    text-align: justify;
    color: bisque;
    width: 100%;
    height: 100vh;
}

#rodape {
    grid-area: rodape;
    text-align: center;
    text-align: center;
    gap: 20px;
}

.facebook {
    height: 39.5%;
    width: 8.5vh;
    border-radius: 30%;
}

.insta {
    height: 40%;
    width: 8.5vh;
    border-radius: 30%;
}

.tube {
    height: 40%;
    width: 8.5vh;
    border-radius: 30%;
}